.wrapper {
  @include breakpoint(medium) {
    margin: 0 auto;
    max-width: 40rem;
  }

  @include breakpoint(large) {
    margin: 0 auto;
    max-width: 55rem;
  }
}

main {
  @include breakpoint(large) {
    margin-left: calc(12rem + 4px);
    padding: 4rem 0 0 2rem;
  }
}

.feature {
  font-size: 1.25em;

  @include breakpoint(large) {
    font-size: 1.5em;
  }
}

.articlelist {
  list-style-type: none;
  margin-left: 0;
}

.articlelist__date {
  color: #666;
}

.divider--home {
  @include breakpoint(medium) {
    margin: 2rem 0;
  }
}

h2 + time {
  display: block;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

article {
  margin-bottom: 4rem;
}