.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project__tags {
  font-size: 0.8rem;
  background-color: $content-bg;
  padding: 0.5rem;
}

.project-nav {
  height: 1.5rem;
  margin-bottom: 1rem;
  border-top: 1px solid $color-gray-medium;
}

.project-nav__prev {
  float: left;
  width: 50%;
}

.project-nav__next {
  float: right;
  text-align: right;
  width: 50%;
}

.project__img {
  display: block;
  margin: 0 auto $base-spacing-unit;
}

.project__img--lg {
  @include project-image(300px, 227px);

  @include breakpoint(med-and-below) {
    @include project-image(620px, 470px);
  }

  @include breakpoint(xl-and-below) {
    @include project-image(800px, 606px);
  }

  @include breakpoint(x-large) {
    @include project-image(800px, 606px);
  }
}

.project__img--med {
  @include project-image(300px, 400px);

  @include breakpoint(med-and-below) {
    @include project-image(410px, 547px);
    }

  @include breakpoint(xl-and-below) {
    @include project-image(520px, 693px);
  }

  @include breakpoint(x-large) {
    @include project-image(520px, 693px);
  }
}

.project__img--sm {
  @include project-image(300px, 478px);

  @include breakpoint(med-and-below) {
    @include project-image(320px, 510px);
  }

  @include breakpoint(medium) {
    @include project-image(320px, 510px);
  }
}
