label {
  display: block;
}

input, textarea {
  border: 1px solid $color-gray-medium-light;
  border-bottom: 4px solid $color-gray-medium-light;
  padding: 4px;

    &:focus {
      border-color: $color-brand;
      outline: 0;
    }
}

textarea {
  height: 8rem;
}

.message {
  display: none;
  padding: 1.5rem;
  visibility: hidden;
  border-left: 4px solid;

  &__success {
    background-color: #DBF5E3;
    border-color: #329E44
  }

  &__failure {
    background-color: #FFDBDB;
    border-color: #BE1212;
  }

  &__thankyou {
    background-color: #DBF5E3;
    border-color: #329E44;
    display: block;
    visibility: visible;
  }
}

.message__close {
  cursor: pointer;
  float: right;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.social-icon {
  height: 4em;
  width: 4em;
  fill: currentColor;
  margin-right: 1rem;

  &:hover {
    color: $color-brand-highlight;
  }
}
