.wrapper {
  @include breakpoint(medium) {
    margin: 0 auto;
    max-width: 40rem;
  }

  @include breakpoint(large) {
    margin: 0 auto;
    max-width: 55rem;
  }
}

main {
  @include breakpoint(large) {
    margin-left: calc(12rem + 4px);
    padding: 4rem 0 0 2rem;
  }
}
