.content {
  background-color: $content-bg;
  border: 0;
  margin-bottom: 2rem;
  padding: 1rem;

  @include breakpoint(medium) {
    padding: 1.5rem;
  }

  &--grid {
    margin-bottom: 1.25rem;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $content-bg-hover;
    }

    @include breakpoint(medium) {
      width: 48.5%;
    }
  }

  &__caption {
    background-color: transparent;
    padding: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  &__contact {
    padding: 1.5rem;
  }
}

.content__date {

}

.content__readmore {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
  text-align: right;
}
