label {
  display: block;
}

input, textarea {
  border: 1px solid $color-gray-medium;
  border-bottom: 4px solid $color-gray-medium;
  padding: 4px;

    &:focus {
      border-color: $color-link;
      outline: 0;
    }
}

textarea {
  height: 8rem;
}

.message {
  display: none;
  padding: 1.5rem;
  visibility: hidden;
  border-left: 4px solid;

  &__success {
    background-color: $color-success-bg;
    border-color: $color-success;
  }

  &__failure {
    background-color: $color-failure-bg;
    border-color: $color-failure;
  }

  &__thankyou {
    background-color: $color-success-bg;
    border-color: $color-success;
    display: block;
    visibility: visible;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.message__close {
  cursor: pointer;
  float: right;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.social-icon {
  height: 4em;
  width: 4em;
  fill: currentColor;
  margin-right: 1rem;

  &:hover {
    color: $color-link-highlight;
  }
}
