<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header.html %}

      <main role="main">
        {% if page.url == '/contact/' or page.url == '/articles/' or page.url == '/projects/' %}<h2 class="page-title--x-large">{{ page.title }}</h2>{% endif %}
        {{ content }}
      </main>

    </div>
  </body>
  {% if page.url == '/contact/' %}
    <script src="{{ site.baseurl }}/assets/js/contactform.js"></script>
  {% endif %}
  <script src="{{ "/assets/js/scripts.js" | prepend: site.url }}"></script>
  <script>
    var font = new FontFaceObserver('Open Sans');

    font.load().then(function () {
      sessionStorage.fontsLoaded = true;
    }).catch(function () {
      sessionStorage.fontsLoaded = false;
      console.error('Font is not available');
    });

    if (sessionStorage.fontsLoaded) {
      document.documentElement.classList.add('fonts-loaded');
    }
  </script>
</html>
